<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ text }}</h1>
    <h2>Заголовок чуть поменьше</h2>
    <p>urban https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami</p>
    <button><h1>BUTTON</h1></button>
    <a href="https://uguide.ru/tablica-osnovnykh-tegov-html-s-primerami">link</a>
    <ul>
        <li>text1</li>
        <li>text2</li>
        <li>text3</li>
    </ul>
</body>
</html>